
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1200px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      input{
        width: 90%;
      }

      .brandpicture{
        height: 575px;
        width:601px;
        background-image: url("assets/womenshopping.jpg");
        background-repeat: none;
        float: right;
      }

      .resultlist{
      	height: 400px;
      }

      #resultitem{
      	height: 150px;
      	width: 500px;
        background-color: white;
      	float:left;
      	margin-bottom: 20px;
      	margin-left: 20px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
}
      }


      #logoresult{
        height:50px;
        width:50px;
        background-color: blue;
      }

      .test{
        float:left;
        height: 100px;
        width: 100px;
        background-color:#6B8E23;
        margin:5px;
        border-style: solid;
        border-width: 1px;
        border-color: darkgrey;
      }

      #resultblurb{
        padding-left:10px;
      	margin-top: 5px;
        margin-bottom: 5px;
        height: 100px;
 
      }

      #resultblurb h3{
        padding: 0;

      }

      #resultrelation{
        padding-left: 10px;
      	font-size: .7em;

      }

      .howresults{
        padding-left: 10px;
      	color:darkblue;
      }

      .actionbuttons{

      }

      .signup{
      margin-top: 20px;
   		float:right;
      }

      .footer{
      	width:100%;
      }

      .dollarchoice{
        width: 90px;
        padding-top:30px;
        padding-bottom: 30px;
        margin: 5px;
        font-size: 2.3em;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;

      }

      .basketchoices{
        background-color: lightgrey;
        padding:10px;
  
      }

      .brand{
         font-family: 'Kaushan Script', cursive;
      }

  

    </style>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-narrow">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="/">Brandentity</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
<!--             <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-narrow">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit resultlist">
        <h3>You Might Like These Companies</h3>
        	<div id="resultitem">
            <div class="test">
            </div>
        		<div id="resultblurb">
        			<h4>Company 1</h4>Company 1 is a blah blah blah blah blah.<br> 
        		</div>
        		<div id="resultrelation">Owns: This brand you like
            </div>
        	</div>
      	 <div id="resultitem">
            <div class="test">
            </div>
        		<div id="resultblurb">
        			<h3>Company 2</h3> Company 2 is a blah blah blah blah blah.<br> 
        		</div>
        		<div id="resultrelation">Owns: This brand you like
            </div>
        	</div>
      	<div id="resultitem">
            <div class="test">
            </div>
        		<div id="resultblurb">
        			<h3>Company 3</h3> Company 3 is a blah blah blah blah blah.<br> 
        		</div>
        		<div id="resultrelation">Owns: This brand you like
            </div>
        	</div>
        	   <div id="resultitem">
            <div class="test">
            </div>
        		  <div id="resultblurb">
        			<h3>Company 4</h3> Company 4 is a blah blah blah blah blah.<br> 
        		  </div>
        		  <div id="resultrelation">Owns: This brand you like
              </div>
        	</div>
        <p><a href="#" class="btn btn-secondary btn-small howresults">How did we come up with these?&raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="actionbuttons">
        <div class="span4">
          <h2>Want to Know More About Stock Investing?</h2>
          <p>Click here for some easy lessons about how investing in the stock market works. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span7 basketchoices">
          <h2>Customize my Brand Bundle</h2>
          <p>Ready to go?  Let's invest! </p>
          <p>
            <a class="btn btn-info dollarchoice" href="#">$25 </a>
            <a class="btn btn-info dollarchoice" href="#">$50 </a>
            <a class="btn btn-info dollarchoice" href="#">$100 </a>
            <a class="btn btn-info dollarchoice" href="#">Other </a>
          </p>
       </div>
        <div class="btn signup btn-success btn-large">
          <h2>Sign Up</h2>
     
      
        </div>
      </div>

      <hr>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
